.wrapper {
    background-position: top;
    background-image: url(../Images/Landing.jpg);
    width: 100%;
    min-height: 4217px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Asap', sans-serif;
    display: block;
}

.wrapper__home {
    display: block;
    background-position: top;
    background-image: url(../Images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.row__work {
    margin: 0 -15px;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.home {
    /* background-image: url(../Images/Home.jpg); */
    background-position: top;
    size: 100%;
    padding-bottom: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.logo:hover {}

.logo__txt {
    text-decoration: none;
    color: white;
    width: 105px;
    height: 21px;
    font-size: 28px;
    line-height: 53px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo__se {
    color: #2ec06c;
    font-weight: 700;
}

.logo__txt:hover {
    color: rgb(26, 188, 156);
    transition: 500ms;
}

.burger {
    color: white;
    padding-top: 10px;
    padding-right: 16px;
}

.burger__href {
    color: white;
}

.midsize {
    padding-top: 69px;
    padding-bottom: 45px;
}

h1 {
    width: 376px;
    height: 83px;
    color: white;
    font-family: Karla;
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
}

.mid__h1 {
    font-weight: 700;
    letter-spacing: 0.4px;
}


.servise {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 220px;
    height: 220px;
    background-color: none;
    opacity: 100%;
    padding-top: 60px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.card__text {
    color: white;
    font-family: Karla;
    font-size: 24px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 21px;
    text-align: center;
}
.card__footer {
    display: flex;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #26a159;
    color: white;
    padding: 15px 65px;
    margin-top: 38px;
    text-decoration: none;
    text-align: center;
    display: none;
}

.card:hover {
    background-color: #2dbf6b;
    padding-top: 61px;
    /* transition: 500ms; */
}

.card:hover .card__front {
    display: block;
    margin-top: -30px;
    transition: 500ms;
}

.card:hover .card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.clear {
    clear: both;
    height: 1px;
}



.wrapper__about_me {
    display: flex;
    background-position: right;
    background-color: #fafafa;
    background-image: url(../Images/About\ me.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 100%;
}
.about__h2 {
    color: #191919;
    font-size: 30px;
    line-height: 19px;
    font-weight: 400;
    padding-top: 77px;
}

.span__h2 {
    font-weight: 700;
}

.about__p {
    color: #404040;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    text-align: justify;
    letter-spacing: -0.185px;
    padding-bottom: 30px;
}


.button {
    width: 200px;
    margin-right: 16px;
    background: none;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 99px;
}

.button__front {
    color: #2ec06c;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #2ec06c;
    border-radius: 5px;
    transition: 0.3s linear;
}

.button__front:hover {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    background-color: #2ec06c;
    border-radius: 25px;
    padding: 15px 0;
}



.wrapper__my_services {
    display: block;
    width: 100%;
    padding-top: 73px;
    padding-bottom: 82px;
}

.row__center {
    display: block;
    text-align: center;
}

.services__h2 {
    color: #202020;
    font-size: 30px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: -3px;
}

.services__p {

    color: #202020;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.01px;
}

.work__item {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.work__icon {
    padding-top: 44px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.work__text {
    padding-top: 17px;
    padding-left: 34px;
}

h3 {
    color: #202020;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
}

.work__p {
    color: #8f8f8f;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: -12px;
    letter-spacing: -0.1px;
    text-align: justify;
}

.work__item+.work__item {
    margin-top: -13px;
}




.wrapper__partners {
    display: flex;
    background-position: top;
    background-image: url(../Images/Partners.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
}
.partners__p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.partners__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}
.partners__logo {
    padding: 10px 25px;
}
.partners__logo:hover {
    background-color: rgb(46, 192, 108, 0.3);
    border-radius: 25px;
    transition: 600ms;
    background-size: 110%;
}



.wrapper__projects {
    min-height: 999px;
}
.row__projects_1 {
    text-align: center;
    justify-content: center;
    margin-top: 67px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}
.projects__h2 {
    font-weight: 700;
    color: #2ec06c;
}
.projects__p {
    color: #666;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -5px;
    padding-bottom: 38px;
}



.row__card {
    margin: 0 -10px;
    display: flex;
    justify-content: space-between;
}
.row__card + .row__card {
    padding-top: 23px;
}
.projects__card {
    display: inline-block;
    margin: 0 auto;
}
.projects__card--front {
    position: relative;
    display: inline-flex;
}
.project__button {
    background-color: #2ec06c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}
.projects__card--front:hover .project__button {
    display: inline-flex;
}
.button__txt {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid white;
    padding: 15px 25px; 
    border-radius: 5px;
}
.projects__card--footer {
    background-color: #eee;
    border-radius: 0px 0px 10px 10px;
    color: #202020;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: -4px;
    padding: 23px 0;
}



.wrapper__review {
    display: flex;
    background-position: top;
    background-image: url(../Images/Review.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 81px 0;
}
.row__review {
    justify-content: center;
}
.review__comment {
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 0px;
}
.review__name {
    line-height: 29px;
    color: white;
    font-size: 16px;
    font-style: italic;
}
.review__name--green {
    color: #2ec06c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}



.wrapper__form {
    min-height: 632px;
    padding: 68px 0;
}
.col-12 {
    text-align: center;
}
.form__h2 {
    font-size: 30px;
    line-height: 40px;
    color: #2ec06c;
    font-weight: 700;
}
.form__p {
    color: #666;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 38px;
}
.row__form {
    display: flex;
}
.form {
    position: relative;
    box-sizing: border-box;
    width: 139px;
    height: 139px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}
.form__f {
    border-color: #3b5998;
}
.form__f:hover {
    background-color: #3b5998;
}
.fa-facebook-f {
    color: #3b5998;
}
.form__i {
    border-color: #517fa4;
}
.form__i:hover {
    background-color: #517fa4;
}
.fa-instagram {
    color: #517fa4;
}
.form__t {
    border-color: #00aced;
}
.form__t:hover {
    background-color: #00aced;
}
.fa-twitter {
    color: #00aced;
}
.form__d {
    border-color: #ff0084;
}
.form__d:hover {
    background-color: #ff0084;
}
.fa-dribbble {
    color: #ff0084;
}
.fab {
    font-size: 58px;
}
.fa-telegram-plane {
    font-size: 1.3em;
}
.form:hover .fab {
    color: white;
}

.form__imput form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 300px;
    height: 299px
}

input,textarea {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #bababa;
    border-radius: 6px;
    padding: 0 20px;
    letter-spacing: -.01em;
    width: calc(50% - 10px)
}

textarea {
    padding: 15px 20px 0;
    height: 160px;
    width: 93.5%
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-family: 'Asap',sans-serif;
    font-style: italic
}

input:-ms-input-placeholder,input::-ms-input-placeholder,textarea:-ms-input-placeholder,textarea::-ms-input-placeholder {
    font-family: 'Asap',sans-serif;
    font-style: italic
}

input::placeholder,textarea::placeholder {
    font-family: 'Asap',sans-serif;
    font-style: italic
}

input:focus {
    border-radius: 6px
}

input:focus,textarea:focus {
    border-color: #2ec06c;
    outline: 0
}

textarea,textarea:focus {
    border-radius: 6px 0 0 6px
}

button {
    border-radius: 0 6px 6px 0;
    border-width: 1px;
    background: #2ec06c;
    color: #fff
}

input {
    height: 50px
}

textarea {
    resize: none
}

.form__submit {
    position: relative;
    box-sizing: border-box;
    height: 160px;
    width: 100%
}

.comment {
    height: 100%;
    width: 93.5%
}

.form__submit__btn {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6.5%;
    transition: background-color .5s
}

.form__submit__btn:active,.form__submit__btn:hover {
    cursor: pointer;
    background-color: #2aa55d;
    border: 0;
    outline: 0
}